<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="ValidateTitle">
    <classes>
      <class name="Maven2.ValidateTitle"/>
            </classes>
       </test>
   <test thread-count="5" name="HomePage">
    <classes>      
      <class name="Maven2.HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
